{% extends 'wrapper.html' %}
{% block bodyContent %}
<article>

	<h1>
		{{ title }}
		{% if date %}<small class="article-date">{{ date|date('jS M Y') }}</small>{% endif %}
		{% if tags -%}
		<ul class="inline tags">
			{% for tag in tags -%}
			<li><a href="{{ page|basePath}}tags/{{tag|replace(' ', '-')}}.html" class="label"><i class="icon icon-tag"></i> {{tag}}</a></li>
			{%- endfor %}
		</ul>
		{%- endif %}
	</h1>

	<img src="{{ headerImage }}" class="header-image" />
	{{ content|raw }}
</article>
{% endblock %}