{% extends 'wrapper.html' %}
{% block bodyContent %}
<article>
	<header class="content-header">
		{% if date %}<time datetime="{{ date|date('Y-m-d') }}" pubdate>{{ date|date('jS M Y') }}</time>{% endif %}
		<h1>
			{{ title }}
		</h1>
		{% if tags.length -%}
		<ul class="tags">
			{% for tag in tags -%}
			<li><a href="{{ page|basePath}}tags/{{tag|replace(' ', '-')}}.html" class="label"><i class="icon icon-tag"></i> {{tag}}</a></li>
			{%- endfor %}
		</ul>
		{%- endif %}
	</header>

	{% if page.isDraft -%}
	<div class="alert alert-block alert-error" style="margin-top: 20px;"><strong>Warning</strong>: Draft post - will not be visible on live website</div>
	{%- endif %}

	{% if headerImageLarge %}<img src="{{ headerImageLarge }}" class="header-image" />{% else if headerImage %}<img src="{{ headerImage }}" class="header-image" />{% endif %}
	<div id="content">{{ content|raw }}</div>
	{% if photosets %}
	<div id="related-photosets">
		<h1><i class="icon-camera-retro"></i> Photos</h1>
		{% for photoset in pages|getPhotosetData(photosets) %}
			<a href="{{ page|linkTo(photoset.target) }}">
				<div class="photoset tt-trigger" title="{{ photoset.target.templateData.title }}">
					{% for thumb in photoset.image %}
					<img src="{{ thumb.url_q }}" alt="{{ thumb.title }}">
					{% endfor %}
				</div>
			</a>
		{% endfor %}
	</div>
	{% endif %}
	{% if !hideComments -%}
	<div id="comments">
		<h1>Comments</h1>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = 'nakeditchyfeet';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
	{%- endif %}
</article>
{% endblock %}