{% extends 'blog-post.html' %}
{% block bodyContent %}
	{% parent %}
	<ul id="follow-links">
		<li>
			<a href="http://feedburner.google.com/fb/a/mailverify?uri=NakedItchyFeet&amp;loc=en_US" class="tt-trigger" target="_blank" title="Blog updates by email">
				<i class="icon-envelope-alt"> </i>
			</a>
		</li>
		<li>
			<a href="http://twitter.com/nakeditchyfeet" class="tt-trigger" target="_blank" title="@nakeditchyfeet on Twitter">
				<i class="icon-twitter-sign"> </i>
			</a>
		</li>
		<li>
			<a href="http://feeds.feedburner.com/NakedItchyFeet" class="tt-trigger" target="_blank" title="This blogs RSS feed">
				<i class="icon-rss-sign"> </i>
			</a>
		</li>
		<li>
			<a href="http://flickr.com/photos/vitch/" class="tt-trigger" target="_blank" title="Our Flickr photostream">
				<i class="icon-flickr"> </i>
			</a>
		</li>
		<li>
			<a href="http://instagram.com/vitch77" class="tt-trigger" target="_blank" title="@vitch77 on Instagram">
				<i class="icon-instagram"> </i>
			</a>
		</li>
		<li>
			<a href="http://instagram.com/prixsantos" class="tt-trigger" target="_blank" title="@prixsantos on Instagram">
				<i class="icon-instagram"> </i>
			</a>
		</li>
	</ul>
{% endblock %}