{% extends 'wrapper.html' %}
{% block bodyContent %}

<ul class="article-list">
	{% for child in pages|matches('prettyUrl','/blog/')|published|sort('date')|reverse %}
		<li>
			<a href="{{ page|linkTo(child) }}">
				<img src="{{ page|relativePath(child) }}{{ child.templateData.headerImage }}" class="header-image" alt="{{ child.templateData.title }}" />
				<span>{{ child.templateData.date|date('jS M Y') }} &ndash; {{ child.templateData.title }}</span>
			</a>
		</li>
	{% endfor %}
</ul>

{% endblock %}