{% extends 'wrapper.html' %}
{% block bodyContent %}
<ul id="home-list">
	{% for child in pagesToLoop %}
		<li class="item-type-{{ child.type }}{% if child.hasLink %} has-link{% endif %}" data-geo="{{ child.geo }}">
			<i class="nif-icon nif-icon-{{ child.icon }}"> </i>
			<div class="item" {% if child.airports %} data-airports="{{child.airports}}"{% endif %}>
				<div class="heading">
					<time datetime="{{ child.date|date('Y-m-d') }}">{{ child.date|date('jS F Y') }}</time>
					{% if child.target %}<a href="{{ page|linkTo(child.target) }}">{% endif %}
					{% if child.externalLink %}<a href="{{ child.externalLink }}" target="_blank">{% endif %}
						<h1>
							{% if child.target.isDraft -%}<span>[Draft]</span> {% endif %}
							{{ child.label|raw }}
						</h1>
					{% if child.hasLink %}</a>{% endif %}
				</div>

				{% if child.image -%}
					<img src="{{ page|relativePath(child.target) }}{{ child.image }}" class="header-image" alt="{{ child.label }}">
				{% endif %}
				{% if child.photosetData %}
					<div class="photoset side-{{ child.photosetData.side }}">
						<div class="big" style="background-image: url({{ child.photosetData.big.url_m }});" title="{{ child.photosetData.big.title }}">
						</div>
						{% for thumb in child.photosetData.small %}
							<div class="small" style="background-image: url({{ thumb.url_n }});" title="{{ thumb.title }}">
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</li>
	{% endfor %}
</ul>
{% endblock %}