{% extends 'wrapper.html' %}
{% block bodyContent %}
<ul id="home-list">
	{% for child in pagesToLoop %}
		<li class="item-type-{{ child.type }}{% if child.hasLink %} has-link{% endif %}" data-geo="{{ child.geo }}">
			<i class="fa fa-{{ child.icon }}"> </i>
			<div class="item">
				<time datetime="{{ child.date|date('Y-m-d') }}">{{ child.date|date('jS F Y') }}</time>
				{% if child.target %}<a href="{{ page|linkTo(child.target) }}">{% endif %}
				{% if child.externalLink %}<a href="{{ child.externalLink }}" target="_blank">{% endif %}
					<h1>
						{% if child.target.isDraft -%}<span>[Draft]</span> {% endif %}
						{{ child.label|raw }}
					</h1>
				{% if child.hasLink %}</a>{% endif %}

				{% if child.image -%}
					{%- if child.image.join -%}
						<div class="photoset">
							{% for thumb in child.image %}
								<img src="{{ thumb.url_q }}" alt="{{ thumb.title }}">
							{% endfor %}
						</div>
					{%- else -%}
					<img src="{{ page|relativePath(child.target) }}{{ child.image }}" class="header-image" alt="{{ child.label }}">
					{%- endif -%}
				{% endif %}
				{% if child.showMap %}
					<div class="list-page-map" data-airports="{{ child.airports }}">
					</div>
				{% endif %}
			</div>
		</li>
	{% endfor %}
</ul>
{% endblock %}