[
	{% for item in pages|matches('prettyUrl','/(blog|travel-tips)/')|withGeoData|listPageIconify|published -%}
		{%- set child = item.target -%}
		{
			"link": "{{ page|linkTo(child) }}",
			"title": "{{ child.templateData.title }}",
			"date": "{{ child.templateData.date|date('dS M Y' }}",
			"latitude": {{ child.templateData.latitude }},
			"longitude": {{ child.templateData.longitude }},
			"type": "{{ item.type }}",
			"icon": "{{ item.icon }}"
		}{% if !loop.last %},{% endif %}
	{%- endfor %}
]