{% extends 'wrapper.html' %}
{% block bodyContent %}

<header class="content-header">
	{% if date %}<time datetime="{{ date|date('Y-m-d') }}" pubdate>{{ date|date('jS F Y') }}</time>{% endif %}
	<h1>Photoset: {{ title }}</h1>
</header>
	{% if description %}
	<div id="content">
		{{ description|md|raw }}
	</div>
	{% endif %}
	<ul id="photoset">
		{% for photo in photos %}
			<li>
				<a href="{{ photo.id }}.html"><img src="{{ photo.url_s }}" data-h="{{ photo.height_s }}" data-w="{{ photo.width_s }}" alt="{{photo.title}}" title="{{photo.title}}"></a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}