{% extends 'wrapper.html' %}
{% block bodyContent %}
<div id="fullsize-photo">
	<nav>
		<ul>
			<li>
				{% if nextPhotoLink %}
					<a href="{{ nextPhotoLink }}" title="Next photo"><i class="fa fa-chevron-right"></i></a>
				{% else %}
					<i class="fa fa-chevron-right fa-muted"></i>
				{% endif %}
			</li>
			<li>
				{% if previousPhotoLink %}
				<a href="{{ previousPhotoLink }}" title="Previous photo"><i class="fa fa-chevron-left"></i></a>
				{% else %}
				<i class="fa fa-chevron-left fa-muted"></i>
				{% endif %}
			</li>
			<li>
				<a href="http://flickr.com/photos/vitch/{{ photoId }}/in/set-{{ photoset.id }}" title="View on Flickr" target="_blank">
					<i class="fa fa-flickr"></i>
				</a>
			</li>
			<li><a href="./" title="Back to photoset"><i class="fa fa-camera-retro"></i></a></li>
		</ul>
	</nav>
	{% if nextPhotoLink %}<a href="{{ nextPhotoLink }}">{% endif %}
		<img src="{{ photoUrl }}" style="{{ photoCss }}">
	{% if nextPhotoLink %}</a>{% endif %}

</div>
{% endblock %}