{% extends 'wrapper.html' %}
{% block bodyContent %}
<article>

	<h1><i class="icon icon-bullhorn"></i> {{ title }}</h1>

	{{ content|raw }}

	<ul class="">
		{% for child in pages|matches('prettyUrl','/travel-tips/.+')|published|sort('date')|reverse %}
		<li>
			{% if child.isDraft -%}<span class="label label-info">Draft</span> {% endif %}
			<a href="{{ page|linkTo(child) }}">
				{{ child.templateData.date|date('jS M Y') }} &ndash; {{ child.templateData.title }}
			</a>
		</li>
		{% endfor %}
	</ul>

</article>
{% endblock %}