{% extends 'wrapper.html' %}
{% block bodyContent %}
<article>

	<h1><i class="icon icon-bullhorn"></i> {{ title }}</h1>

	{{ content|raw }}

	<ul class="unstyled">
		{% for child in pages|matches('prettyUrl','/travel-tips/.+')|published|sort('templateData.date')|reverse %}
		<li>
			{% if child.isDraft -%}<span class="label label-warning">Draft</span> {% endif %}
			<span class="label label-info">{{ child.templateData.category }}</span>
			<a href="{{ page|linkTo(child) }}">{{ child.templateData.title }}</a>
			<span class="muted">{{ child.templateData.date|date('jS M Y') }}</span>
		</li>
		{% endfor %}
	</ul>

</article>
{% endblock %}