<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

	<title>{% block title %}{{ title }}{% endblock %}</title>

	<meta name="viewport" content="width=device-width"/>

	<meta name="Description" content="{{ page.templateData.metaDescription }}" />


	<script>document.documentElement.className += " js";</script>

	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="http://feeds.feedburner.com/NakedItchyFeet" />

	<link href="{{ page|basePath }}styles/styles.css" rel="stylesheet" type="text/css">

	<!--[if lt IE 9]>
	<script async src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body{% if bodyId %} id="{{ bodyId }}-page"{% endif %}>
	<header id="site-header">
		<img src="/images/feet.svg" alt="Feet">
		<div><div>
			<h1>
				{% if page.prettyUrl === '/' -%}
					<span id="logotype">Naked Itchy Feet</span>
				{%- else -%}
					<a href="{{ page|basePath }}"><span id="logotype">Naked Itchy Feet</span></a>
				{%- endif %}
			</h1>
			<nav>
				<ul>
					<li class="icon icon-blog">
						<a href="{{ page|basePath }}"{% if page.prettyUrl == '/' %} class="active"{% endif %}>
							Blog
						</a>
					</li>
					<li class="icon icon-globe">
						<a href="{{ page|basePath }}map/"{% if page.prettyUrl == '/map/' %} class="active"{% endif %}>
							Our Map
						</a>
					</li>
					<li class="icon icon-foot">
						<a href="{{ page|basePath }}about-us/"{% if page.prettyUrl == '/about-us/' %} class="active"{% endif %}>
							About Us
						</a>
					</li>
					<li class="icon icon-twitter">
						<a href="{{ page|basePath }}follow-us/"{% if page.prettyUrl == '/follow-us/' %} class="active"{% endif %}>
							Follow Us
						</a>
					</li>
				</ul>
			</nav>
		</div></div>
	</header>
	<div id="site-content">
		{% block bodyContent %}{% endblock %}
	</div>
	{% if bodyId !== 'map' -%}
	<div id="side-map">
	</div>
	{%- endif %}
	<script type="text/javascript" src="{{ page|basePath }}js/lib/jquery.js"></script>
	{% for path in options.jsLibs -%}
	<script src="{{ page|basePath }}{{ path }}"></script>
	{% endfor %}
	<script type="text/javascript" src="{{ page|basePath }}js/lib/require.js" data-main="{{ page|basePath }}js/app/nif{% if options.minify %}.min{% endif %}.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-41677517-1', 'nakeditchyfeet.com');
		ga('send', 'pageview');

	</script>
</body>
</html>
