<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

	<title>{% block title %}{{ title }}{% endblock %}</title>

	<meta name="viewport" content="width=device-width"/>

	<meta name="Description" content="{{ page.templateData.metaDescription }}" />

	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ page|basePath }}feed.rss" />

	<!-- Styles -->
	<link href='{{ page|basePath }}leaflet/leaflet.css' rel='stylesheet' type='text/css'>
	<link href='{{ page|basePath }}styles/styles.css' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
	<script async src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<link href='{{ page|basePath }}leaflet/leaflet.ie.css' rel='stylesheet' type='text/css'>
	<![endif]-->

</head>
<body>
<header id="site-header">
	<h1>
		{% if page.prettyUrl === '/' -%}
			Naked Itchy Feet
		{%- else -%}
			<a href="{{ page|basePath }}">Naked Itchy Feet</a>
		{%- endif %}
	</h1>
	<div id="when-marker"></div>
	<nav>
		<ul>
			<li><a href="{{ page|basePath }}about-us/">About Us</a></li>
			<li><a href="{{ page|basePath }}follow-us/">Follow Us</a></li>
			<li class="map-link"><a href="{{ page|basePath }}map/"><i class="icon icon-globe"></i> View Map</a></li>
		</ul>
	</nav>

	<div id="list-filter">
		<p>Filter posts:</p>
		<ul>
			{% for filter in options.listFilterOptions %}
			<li><a href="#" data-filter="{{ filter.filter }}" title="{{ filter.description }}"><i class="icon icon-{{ filter.icon }}"> </i> </a></li>
			{% endfor %}
		</ul>
	</div>
</header>
<div id="site-content">
{% block bodyContent %}{% endblock %}
</div>
<script type="text/javascript" src="{{ page|basePath }}js/lib/jquery-1.9.1.min.js"></script>
{% for path in options.jsLibs -%}
<script src="{{ page|basePath }}{{ path }}"></script>
{% endfor %}
<script type="text/javascript" src="{{ page|basePath }}js/lib/require.js" data-main="{{ page|basePath }}js/app/nif{% if options.minify %}.min{% endif %}.js"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-41677517-1', 'nakeditchyfeet.com');
	ga('send', 'pageview');

</script>
</body>
</html>
