@footer-height: 40px;

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -(@footer-height + 1);
}
#footer-space {
	height: @footer-height;
	clear: both;
}

.container {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;

	img.header-image {
		.img-polaroid();
		max-width: 100%;
		.box-sizing(border-box);
		margin: 0 0 20px;
	}
}

#site-header {
	border-bottom: 1px solid #eee;
	padding: 5px 0;
	margin: 0 0 10px;
	.clearfix();

	nav {
		margin: 20px 0 0;
		.nav {
			margin-bottom: 0;
		}
	}

	h1 {
		float: left;
		a
		{
			color: @headingsColor;
		}
	}
}

#site-footer {
	height: @footer-height;

	.container {
		border-top: 1px solid #eee;
		padding: 10px 0;

		p {
			margin: 0;
		}
	}
}

@import "map.less";
@import "leaflet.awesome-markers.less";
@import "marker-cluster.less";

article>p:first-of-type {
	.lead();
}

.article-date {
	white-space: nowrap;
}

article table {
	.table();
	.table-striped();
}

img.inline-image {
	.img-polaroid();
	.box-sizing(border-box);
	margin: 0 0 0 10px;
	float: right;
}

ul.article-list {
	padding: 0;
	list-style: none;

	li {
		margin: 10px 0;
		overflow: hidden;

		a {
			position: relative;
			display: block;

			img.header-image {
				margin: 0 0 1px;
			}

			span {
				position: absolute;
				display: block;
				color: #fff;
				.transition(bottom .3s ease-out);
				left: 5px;
				right: 5px;
				bottom: -50px;
				.box-sizing(border-box);
				background: #000;
				background: rgba(0, 0, 0, .7);
				padding: 5px;
			}

			&:hover {
				span {
					bottom: 5px;
				}
			}
		}
	}
}

ul.tags {
	float: right;
	margin: 10px 0 0;
	a {
		background: #f60; //@orange
		&:hover {
			background: @blueDark;
		}
	}
}