
@import "variables.less";
@import "mixins.less";
@import "normalize.less";
@import "tables.less";
@import "alerts.less";
@import "tooltip.less";
@import "nif-icons.less"; // Generated SVG icons
@import (less) "leaflet.css";
@import (less) "leaflet.awesome-markers.css";
@import (less) "MarkerCluster.css";
@import (less) "MarkerCluster.Default.css";


// Overrides
@border-radius-base: 0;

// Custom
@link-fade-transition: color .3s ease-out;

@sidenav-bg-color: #9FCBB4;
@sidenav-color: #fff;
@sidenav-transition-duration: .26s;
@sidenav-transition-easing: ease-in-out;
@sidenav-width-closed: 45px;
@sidenav-width-open: 135px;
@sidenav-side-padding: 9px;
@sidenav-arrow-size: 6px;

@map-gradient-top: #a6dbdd;
@map-gradient-bottom: #e1e1e1;

// Mixins

.image-box-shadow {
	.box-shadow(0 0 3px rgba(0, 0, 0, .5));
}

.map-bg-gradient() {
	// Gradient so that when you are zoomed out it looks like the artic ocean and antartica span to the edges of the container
	#gradient .vertical-three-colors(@map-gradient-top, @map-gradient-top, 70%, @map-gradient-bottom);
}

// Fonts

@font-face {
  font-family: 'Proximanova';
  src: url('/fonts/proximanova-reg-webfont.eot');
  src: url('/fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/proximanova-reg-webfont.woff') format('woff'),
    url('/fonts/proximanova-reg-webfont.ttf') format('truetype'),
    url('/fonts/proximanova-reg-webfont.svg?#fontawesomeregular') format('svg');
//  src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

// Override the weird vertical align in the generated font which makes things look weird...
[class^="icon-"]:before, [class*=" icon-"]:before {
	vertical-align: top;
}


// Styles

body {
	font-family: Proximanova, Georgia, Times;
	margin: 0;
}

h1,h2,h3,h4,h5 {
	font-weight: normal;
}

h1 {
	font-size: 26px;
}

a {
	color: @link-color;
	&:hover {
		color: @link-hover-color;
	}
}

img {
	max-width: 100%;
}

.muted {
	.opacity(.3);
}

#site-header {
	position: fixed;
	top: 0;
	bottom: 0;
	padding: 0 @sidenav-side-padding;
	width: @sidenav-width-closed;
	color: @sidenav-color;
	overflow: hidden;
	// border-right: 1px solid #fff;

	z-index: 3;
	background: @sidenav-bg-color;
	.box-sizing(border-box);
	.transition(width @sidenav-transition-duration @sidenav-transition-easing);

	&>div {
		overflow: hidden;
		width: 27px;
		.transition(width @sidenav-transition-duration @sidenav-transition-easing);
		&>div {
			width: @sidenav-width-open - @sidenav-side-padding - @sidenav-side-padding;
		}
	}

	&>img {
		max-width: none;
		position: absolute;
		left: -40px;
		height: 87px;
		webkit-transition: height @sidenav-transition-duration @sidenav-transition-easing, left @sidenav-transition-duration @sidenav-transition-easing;
		transition: height @sidenav-transition-duration @sidenav-transition-easing, left @sidenav-transition-duration @sidenav-transition-easing;
	}

	h1 {
		margin: 0;
		position: absolute;
		top: 120px;
		a {
			color: @sidenav-color;
		}
		&:before {
			position: absolute;
			top: -3px;
			left: -4.3px;
			font-size: 35px;
		}
	}

	#logotype {
		width: 120px;
		height: 60px;
		display: block;
		.opacity(0);
		overflow: hidden;
		.transition(opacity @sidenav-transition-duration @sidenav-transition-easing);
		&:before {
			font-size: 121px;
			line-height: 1;
			position: relative;
			top: -6px;
			left: -4px;
		}
	}

	nav {
		margin-top: 190px;

		ul {
			list-style: none;
			padding: 0;
			line-height: 1.3;
			border-top: 1px solid @sidenav-color;

			li {
				border-bottom: 1px solid @sidenav-color;
				padding: 8px 0 5px 2px;
			}

			a {
				font-size: 19px;
				color: @sidenav-color;
				text-decoration: none;
				padding: 0 0 0 2px;

				span {

					display: block;
					float: left;
					&.nif-icon {
						padding: 0 5px 0 1px;
						&:before {
							font-size: 21px;
							vertical-align: top;
						}
					}

					&:last-child {
						.opacity(0);
						.transition(opacity @sidenav-transition-duration @sidenav-transition-easing);
					}
				}
			}
		}
	}

	&:hover {
		width: @sidenav-width-open;
		&>div {
			width: @sidenav-width-open;
			overflow: hidden;
		}
		&>img {
			left: 0;
			height: 109px;
		}
		#logotype {
			.opacity(1);
		}

		ul a span:last-child {
			.opacity(1);
		}
	}
}

#site-content {
	margin: 0 0 0 @sidenav-width-closed;

	.box-sizing(border-box);
	min-width: 320 - @sidenav-width-closed;
	max-width: 860px;
	width: auto;

	background: #fff;
	padding: 30px;

	.transition(margin-left @sidenav-transition-duration @sidenav-transition-easing);

	.clearfix;

	#map-page & {
		padding: 0;
	}

	.active-marker{
		position: fixed;
		left: @sidenav-width-closed;
		z-index: 1;
		.transition(left @sidenav-transition-duration @sidenav-transition-easing);

		&:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-left-color: @sidenav-bg-color;
			border-width: @sidenav-arrow-size;
			margin-top: -@sidenav-arrow-size;
		}
	}

	&.sidenav-hover {
		margin-left: @sidenav-width-open;

		.active-marker {
			left: @sidenav-width-open;
		}
	}

	@media (min-width: 850px) {
		width: 70%;
		position: relative; // For the drop shadow... Will it hurt performance?
		z-index: 10;
		#map-page & {
			width: auto;
		}
		.js & {
			.box-shadow(4px 0 5px rgba(0, 0, 0, 0.4));
		}
	}

	@media (min-width: 1228px) {
		width: 860px;
		#map-page & {
			width: auto;
		}
	}
}
#map-page #site-content {
	max-width: inherit;
}

#home-list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0 0 25px;
		position: relative;
		.box-sizing(border-box);
		width: 100%;
		clear: left;

		&.is-future {
			color: @gray-light;
		}

		&>i {
			position: absolute;
			top: 17px;
			right: 0;
			font-size: 36px;
		}

		time {
			font-size: 15px;
			text-transform: uppercase;
		}
		a {
			text-decoration: none;
			color: @headings-color;
			&:hover {
				color: @link-hover-color;
			}
		}
		h1 {
			margin: 0 45px 10px 0;

			strong {
				font-family: Arial; // FIXME
				font-weight: bold;
			}
		}

		.header-image {
			margin-top: 0;
			.image-box-shadow();
		}

		&.has-link {
			cursor: pointer;

			i, time, a {
				.transition(@link-fade-transition);
			}

			&:hover {
				color: @link-hover-color;
			}
		}

		&.marker-active {
			color: @link-hover-color;
		}
	}
}

.boarding-pass {
	background: #e492a0 url(/images/bg-flight-tag.png) no-repeat 0 -2px;
	max-width: 455px;
	min-width: 325px;
	min-height: 100px;
	margin-left: -31px;
	padding: 2px 0 0 90px;
	text-align: center;

	&.color-1 {
		background-color: #FFC934;
	}

	&>div {
		width: 60%;
		float: left;
		margin: 4px 0;
		text-transform: uppercase;
		.box-sizing(border-box);

		p {
			margin: 0 0 2px;
			font-size: 15px;
			.text-overflow();
		}

		&.lhs {
			padding: 0 5px 0 0;

			h1 {
				font-size: 62px;
				.text-overflow();
				margin: 0 !important; // YUK!!
				line-height: .8;
			}
		}

		&.rhs {
			width: 40%;
			padding: 0 10px;
			border-left: 1px solid #000;
		}
	}
	time {
		border-bottom: 1px solid #000;
		font-size: 15px;
		display: block;
		margin: 0 0 5px;
	}

	.flight-no {
		font-family: courier, mono;
		font-size: 49px;
		line-height: 1;
		margin: 0;
		color: rgba(0, 0, 0, .5);
	}
}

.photoset {
	@photosetPadding: 2px;
	overflow: hidden;
	margin: 0 0 10px;
	height: 160px;

	div {
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		.box-sizing(border-box);
		border-bottom: @photosetPadding solid #fff;
		float: left;
		height: 100%;
		width: 100%;
		
	}
	@media (min-width: 500px) {
		.big {
			width: 50%;
		}
		.small {
			width: 25%;
			height: 50%;
			border-left: @photosetPadding solid #fff;
		}
	}

	@media (min-width: 530px) {
		height: 180px;
	}

	@media (min-width: 600px) {
		height: 210px;
	}

	@media (min-width: 750px) {
		height: 250px;
	}

	@media (min-width: 830px) {
		height: 300px;
	}

	// &.side-1 {
	// 	div {
	// 		float: right;
	// 	}
	// }
}

header.content-header {
	padding: 0 0 20px;
	time {
		color: @gray;
		margin-top: -19px;
		display: block;
		text-transform: uppercase;
	}
	h1 {
		margin: 0 0 10px;
	}
	ul.tags {
		list-style: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
		li {
			float: left;
			margin: 0 10px 0 0;

			a {
				text-decoration: none;
				color: @gray;

				&:hover {
					color: @link-hover-color;
				}
			}
		}
	}
}

.header-image {
	margin: 20px 0 0;
	.image-box-shadow();
}
.header-image-caption {
	text-align: right;
	color: #777;
	font-size: 90%;
}
#content>p:first-of-type {
	margin-bottom: @line-height-base;
	font-size: @font-size-base * 1.5;
	font-weight: 200;
	line-height: @line-height-computed * 1.5;
}

#content table {
	.table();
	.table-striped();
}

#content blockquote {
	position: relative;
	margin: 0 0 0 80px;

	&:before {
		color: @gray-lighter;
		position: absolute;
		left: -70px;
		font-size: 4em;
		content: "\f10d";
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		text-decoration: inherit;
		-webkit-font-smoothing: antialiased;
		*margin-right: .3em; // fixes ie7 issues
	}

	small {
		display: block;
		margin: 2px 0 0;
	}
}

#content img {
	margin: 0 0 10px 10px;
	float: right;
}

#related-photosets {
	overflow: hidden;

	h1 {
		margin-bottom: 10px;
	}
	.photoset {
		width: 100%;
		position: relative;
	}
}

#comments {
	margin: 20px 0 0;

	h1 {
		padding: 0 0 5px;
		margin: 0 0 20px;
	}
}

#map {
	width: 100%;
	height: 200px;
	position: relative;
	height: 100%;
	.map-bg-gradient;
}

#map-filter {
	.leaflet-bar a {
		width: 36px;
		height: 36px;
		font-size: 25px;
		i {
			margin: 4px 0 0;
		}

		&.active {
			color: #f60;
		}
	}
}

#photoset {
	list-style: none;
	@photosetPadding: 5px;
	padding: 0;
	overflow: hidden;
	li {
		margin: 0 @photosetPadding @photosetPadding 0;
		float: left;
		img {
			display: block;

			&.marker-active {
				.opacity(.7);
			}
		}
	}
}

#fullsize-photo {
	img {
		margin: 10px auto;
		display: block;
		.image-box-shadow();
	}

	nav {
		ul {
			overflow: hidden;
			list-style: none;
			padding: 0;
			li {
				float: right;
				margin: 0 0 0 10px;

			}
		}
		a {
			text-decoration: none;
			color: @text-color;
			&:hover {
				color: @link-hover-color;
			}
		}
		i {
			font-size: 30px;
		}
	}
}

#follow-links {
	list-style: none;
	padding: 0;

	li {
		float: left;
		margin: 0 10px 10px 0;
		a {
			font-size: 60px;
			color: @gray;
			text-decoration: none;
			.transition(@link-fade-transition);

			.fa-envelope-alt {
				font-size: 1.09em;
			}

			&:hover {
				color: @link-hover-color;
			}
		}
	}
}

// Side map stuff

#side-map {
	display: none;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	
	.js & {
		.map-bg-gradient;
	}
	@media (min-width: 850px) {
		display: block;
	}
}

// Map stuff

.map-marker-airplane {
	background: #000;
	color: #fff;
	border-radius: 30px;
	font-size: 21px;
	text-align: center;
}

// Override leaflet paths

.leaflet-control-layers-toggle {
	background-image: url(../leaflet/images/layers.png);
}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(../leaflet/images/layers-2x.png);
}

// Override awesome marker paths
.awesome-marker {
  background-image: url('../awesome-markers/images/markers-soft.png');
}
.awesome-marker-shadow {
  background-image: url('../awesome-markers/images/markers-shadow.png');
}
/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
 .awesome-marker {
  background-image: url('../awesome-markers/images/markers-soft@2x.png');
 }
 .awesome-marker-shadow {
  background-image: url('../awesome-markers/images/markers-shadow@2x.png');
 }
}
// /overrides
