
@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "font-awesome";

body {
	font-family: Georgia, Times;
}

#site-header {
	position: fixed;
	width: 210px;
	padding: 80px 20px 0 40px;
	.box-sizing(border-box);

	h1 {
		font-size: 27px;
		font-weight: normal;

		a {
			text-decoration: none;
			color: @headingsColor;

			&:hover {
				color: @linkColorHover;
			}
		}
	}

	nav {
		margin-top: 80px;

		ul {
			list-style: none;
			padding: 0;

			a {
				text-decoration: none;
				color: @headingsColor;
				font-size: 21px;

				&:hover {
					color: @linkColorHover;
				}
			}
		}
	}
}
#site-content {
	margin: 0 0 0 210px;
}

#home-list {
	list-style: none;
	padding: 0;
	li {
		margin: 0 0 25px;
	}
}